.title {
  text-align: left;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 32px;
  width: 100%;
}

/* form */

.form-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 1400px;
  border-radius: 4px;
  gap: 16px;
  padding: 8px;
}

/* table */

.table {
  border: 1px solid black;
  width: 100%;
  max-width: 2200px;
  border-radius: 4px;
}
