.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

/* controller section*/

.controller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 24px;
  flex-wrap: wrap;
}

.move-shape {
  position: relative;
}

.move-position {
  display: flex;
  position: relative;

  .card-up {
    border: none;
    border-radius: none;
    border-radius: 8px 0 0 8px;
  }

  .card-down {
    border: none;
    border-radius: none;
    border-radius: 0 8px 8px 0;
  }

  @media (max-width: 863px) {
    flex-direction: column;

    .card-up,
    .card-down {
      border-radius: 8px;
    }
  }
}

.ant-card-hoverable:hover {
  background-color: orange;
}

.prev {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.forward {
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.up {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.down {
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.prev,
.forward,
.up,
.down {
  width: 100px;
  height: 100px;
  background-color: gray;
}

.tag {
  position: absolute;
  bottom: -10px;
  right: 50%;
  transform: translateX(50%);
  background-color: rgb(83, 170, 83);
  padding: 4px 8px;
  border-radius: 16px;
  color: white;
  cursor: pointer;
}

/* shape section*/

.shape-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;
  gap: 24px;

  @media (max-width: 1278px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 863px) {
    grid-template-columns: 1fr;
  }
}

.circle,
.ellipse,
.trapezoid,
.rectangle,
.parallelogram {
  width: 300px;
  height: 200px;
  background-color: gray;
}

.square {
  width: 200px;
  height: 200px;
  background-color: gray;
}

.trapezoid {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.parallelogram {
  clip-path: polygon(0 0, 68% 0, 100% 100%, 36% 100%);
}

.rectangle {
  clip-path: inset(0% 0% 0% 0%);
}

.ellipse {
  clip-path: ellipse(50% 30% at 50% 50%);
}

.square {
  clip-path: inset(0);
}

.circle {
  clip-path: circle(35% at 50% 50%);
}
